beautifulsoup4==4.9.1
blessings==1.7
bpython==0.19
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
greenlet==0.4.16
idna==2.10
mutagen==1.45.1
packaging==20.4
Pygments==2.6.1
pyparsing==2.4.7
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
spotipy==2.13.0
urllib3==1.25.10
wcwidth==0.2.5
youtube-dl==2020.7.28
youtube-search-python==1.2.7
